html{
  margin: 0;
  padding: 0; 
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
  color: var(--white);
  background-color: var(--primary);
}

.main-content {
  min-height: 100vh;
  padding: 1em;
}

a.button, input.button {
  border: 1px solid var(--white);
  color: var(--white);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  text-decoration: none;

  transition: background-color 0.2s ease;
}
a.button:hover {
  background-color: #000000ff;
  color: #ffffff;
}
input {
  background-color: black;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 10px;
  padding: 0.5em;
  font-size: 100%;
  outline: none;
}

input[type="color"] {
	opacity: 100;
	border: none;
  width: 10vw;
  height: 10vw;
}

input.button {
  background-color: var(--blue);
  color: var(--white);

  transition: background-color 0.2s ease;
}
input.button:hover {
  background-color: var(--dark-blue);
}
table {
  border: 1px solid #000000;
  border-collapse: collapse;
  margin: 0 0 2em 0;
}
table td, table th {
  padding: 0.25em;
  border: 1px solid var(--blue);
  padding: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  color: var(--white);
  text-decoration: none !important;
  transition: color 0.2s ease;
}

nav > a:hover {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}

/* BUGGY FORM */

#make-a-buggy {
  position: relative;
  display: block;
}

#flag{
  margin-top: 2rem;
  background-color: var(--black-opacity);
  padding: 1em;
  border-radius: 20px;
}

#flag > *{
  display: block;
  margin: 0.5em;
}

datalist {
  display: none !important;
}

#drive{
  margin-top: 2rem;
  padding: 1em;
  background-color: var(--black-opacity);
  border-radius: 20px;
}

#drive > *{
  display: block;
  margin: 0.5em;
}

#offensive {
  margin-top: 2rem;
  padding: 1em;
  background-color: var(--black-opacity);
  border-radius: 20px;
}

#offensive > *{
  display: block;
  margin: 0.5em;
}
