<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/styles/global.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <link href="{{style}}" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="1024x1024" href="static/content/images/icon.png">
</head>

<body>
  <div class="main-content">

    {% block content %}{% endblock %}

  </div>
</body>

</html>