{% extends "base.html" %}

{% block content %}

<section id='make-a-buggy'>
  <h1>Buggy Creation</h1>

  <div id="data-sheet">
    <div id="cost">
      <h2>Cost</h2>
      <h3 id="cost-value"></h3>
    </div>
    <div id="weight">
      <h2>Weight</h2>
      <h3 id="weight-value"></h3>
    </div>
  </div>

  <form action="/new" method="post">
    <div id='traction'>
      <label for="qty_wheels">Number of wheels:</label>
      <input id="slider" type="range" name="qty_wheels" value={{qty_wheels}} min="4" max="16" step="2" />
      <div id="value"></div>
    </div>

    <div id='flag'>
      <label for="flag_color">flag_color:</label>
      <input type="color" name="flag_color" value={{flag_color}} />
      <div class="color-picker"></div>

      <label for="flag_pattern">flag_pattern:</label>
      <select name="flag_pattern" value={{flag_pattern}}>

        <option value="plain">plain</option>
        <option value="vstripe">vstripe</option>
        <option value="hstripe">hstripe</option>
        <option value="dstripe">dstripe</option>
        <option value="checker">checker</option>
        <option value="spot">spot</option>
      </select>

      <label for="flag_color_secondary">flag_color_secondary:</label>
      <input type="color" name="flag_color_secondary" value={{flag_color_secondary}} />
    </div>

    <div id='drive'>
      <label for="power_type">power_type:</label>
      <select name="power_type" value={{power_type}} onchange="calculate()">

        <option value="petrol">petrol</option>
        <option value="fusion">fusion</option>
        <option value="steam">steam</option>
        <option value="bio">bio</option>
        <option value="electric">electric</option>
        <option value="rocket">rocket</option>
        <option value="hamster">hamster</option>
        <option value="thermo">thermo</option>
        <option value="solar">solar</option>
        <option value="wind">wind</option>
      </select>

      <label for="power_units">power_units:</label>
      <input type="number" name="power_units" value={{power_units}} min="0" max="1000" />

      <label for="aux_power_type">aux_power_type:</label>
      <select name="aux_power_type" value={{aux_power_type}} onchange="calculate()">

        <option value="petrol">petrol</option>
        <option value="fusion">fusion</option>
        <option value="steam">steam</option>
        <option value="bio">bio</option>
        <option value="electric">electric</option>
        <option value="rocket">rocket</option>
        <option value="hamster">hamster</option>
        <option value="thermo">thermo</option>
        <option value="solar">solar</option>
        <option value="wind">wind</option>
      </select>

      <label for="aux_power_units">power_units:</label>
      <input type="number" name="aux_power_units" value={{aux_power_units}} min="0" max="1000" />

    </div>

    <div id='offensive'>
      <label for="armour">armour:</label>
      <select name="armour" value={{armour}} onchange="calculate()">
        <option value="none">none</option>
        <option value="wood">wood</option>
        <option value="aluminium">aluminium</option>
        <option value="thinsteel">thinsteel</option>
        <option value="thicksteel">thicksteel</option>
        <option value="titanium">titanium</option>
      </select>

      <label for="attack">attack:</label>
      <select name="attack" value={{attack}} onchange="calculate()">
        <option value="none">none</option>
        <option value="spike">spike</option>
        <option value="flame">flame</option>
        <option value="charge">charge</option>
        <option value="biohazard">biohazard</option>

      </select>

      <label for="qty_attacks">qty_attacks:</label>
      <input type="number" name="qty_attacks" value={{qty_attacks}} min="0" max="1000" />
    </div>


    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

</section>

<script>

  var slider = document.getElementById("slider");
  var output = document.getElementById("value");
  output.innerText = slider.value;


  slider.oninput = () => {
    output.innerText = slider.value;
  }

</script>
<script src="/static/scripts/prices.js"></script>
<script src="/static/scripts/value.js"></script>

{% endblock %}