{% extends "base.html" %}

{% block content %}

<section id='make-a-buggy'>
  <h1>Buggy Creation</h1>

  <div id="data-sheet">
    <div class="background-blur"></div>
    <div id="cost">
      <h2>Cost</h2>
      <h3 id="cost-value"></h3>
    </div>
    <div id="weight">
      <h2>Weight</h2>
      <h3 id="weight-value"></h3>
    </div>
  </div>

  <form action="/new" method="post">
    <div id='traction'>
      <label for="qty_wheels">Number of wheels</label>
      <input id="slider" type="range" name="qty_wheels" value={{qty_wheels}} min="4" max="16" step="2" />
      <div id="value"></div>

      <label for="tyres">Tyre type</label>
      <select name="tyres" value={{tyres}} onchange="calculate()">
        <option value="{{tyres}}" selected hidden>{{tyres}}</option>
        <option value="knobbly">knobbly</option>
        <option value="slick">slick</option>
        <option value="steelband">steelband</option>
        <option value="reactive">reactive</option>
        <option value="maglev">maglev</option>
      </select>

      <label for="qty_tyres">Number of Tyres</label>
      <input id="slider_two" type="range" name="qty_tyres" value={{qty_tyres}} min="4" max="20" step="2" />
      <div id="value_two"></div>
    </div>

    <div id='flag'>
      <label for="flag_color">Flag color</label>
      <input type="color" name="flag_color" value={{flag_color}} />
      <div class="color-picker"></div>

      <label for="flag_color_secondary">Flag secondary color</label>
      <input type="color" name="flag_color_secondary" value={{flag_color_secondary}} />

      <label for="flag_pattern">Flag pattern </label>
      <select name="flag_pattern" value={{flag_pattern}}>
        <option value="{{flag_pattern}}" selected hidden>{{flag_pattern}}</option>
        <option value="plain">plain</option>
        <option value="vstripe">vstripe</option>
        <option value="hstripe">hstripe</option>
        <option value="dstripe">dstripe</option>
        <option value="checker">checker</option>
        <option value="spot">spot</option>
      </select>
    </div>

    <div id='drive'>
      <label for="power_type">Power type</label>
      <select name="power_type" value={{power_type}} onchange="calculate()">
        <option value="{{power_type}}" selected hidden>{{power_type}}</option>
        <option value="petrol">petrol</option>
        <option value="fusion">fusion</option>
        <option value="steam">steam</option>
        <option value="bio">bio</option>
        <option value="electric">electric</option>
        <option value="rocket">rocket</option>
        <option value="hamster">hamster</option>
        <option value="thermo">thermo</option>
        <option value="solar">solar</option>
        <option value="wind">wind</option>
      </select>

      <label for="power_units">Power units</label>
      <input type="number" name="power_units" value={{power_units}} min="0" max="1000" onchange="calculate()"/>

      <label for="aux_power_type">Auxillary power</label>
      <select name="aux_power_type" value={{aux_power_type}} onchange="calculate()" >
        <option value="{{aux_power_type}}" selected hidden>{{aux_power_type}}</option>
        <option value="petrol">petrol</option>
        <option value="fusion">fusion</option>
        <option value="steam">steam</option>
        <option value="bio">bio</option>
        <option value="electric">electric</option>
        <option value="rocket">rocket</option>
        <option value="hamster">hamster</option>
        <option value="thermo">thermo</option>
        <option value="solar">solar</option>
        <option value="wind">wind</option>
      </select>

      <label for="aux_power_units">Auxillary units</label>
      <input type="number" name="aux_power_units" value={{aux_power_units}} min="0" max="1000" onchange="calculate()"/>

      <label for="hamster_booster">H. booster</label>
      <input type="number" name="hamster_booster" value={{hamster_booster}} min="0" max="1000" onchange="calculate()"/>

    </div>

    <div id='offensive'>
      <label for="armour">armour:</label>
      <select name="armour" value={{armour}} onchange="calculate()">
        <option value="{{armour}}" selected hidden>{{armour}}</option>
        <option value="none">none</option>
        <option value="wood">wood</option>
        <option value="aluminium">aluminium</option>
        <option value="thinsteel">thinsteel</option>
        <option value="thicksteel">thicksteel</option>
        <option value="titanium">titanium</option>
      </select>

      <label for="attack">attack:</label>
      <select name="attack" value={{attack}} onchange="calculate()">
        <option value="{{attack}}" selected hidden>{{attack}}</option>
        <option value="none">none</option>
        <option value="spike">spike</option>
        <option value="flame">flame</option>
        <option value="charge">charge</option>
        <option value="biohazard">biohazard</option>

      </select>

      <label for="qty_attacks">qty_attacks:</label>
      <input type="number" name="qty_attacks" value={{qty_attacks}} min="0" max="1000" onchange="calculate()"/>
    </div>

    <div id="misc">
      <label for="fireproof">Fireproof</label><br>
      <input id="fireproof" type="checkbox" name="fireproof" value="True">
      <input id="fireproofHidden" type="hidden" name="fireproof" value="False">


      <label for="insulated">Insulated</label><br>
      <input id="insulated" type="checkbox" name="insulated" value="True">
      <input id="insulatedHidden" type="hidden" name="insulated" value="False">

      <label for="antibiotic">Antibiotic</label><br>
      <input id="antibiotic" type="checkbox" name="antibiotic" value="True">
      <input id="antibioticHidden" type="hidden" name="antibiotic" value="False">

      <label for="banging">Banging</label><br>
      <input id="banging" type="checkbox" name="banging" value="True">
      <input id="bangingHidden" type="hidden" name="banging" value="False">
    </div>

    <div id="algorithm">
      <select name="algo" value={{algo}} >
        <option value="{{algo}}" selected hidden>{{algo}}</option>
        <option value="defensive">defensive</option>
        <option value="steady">steady</option>
        <option value="offensive">offensive</option>
        <option value="titfortat">titfortat</option>
        <option value="birandomohazard">random</option>
      </select>
    </div>

    <input id="total_cost" type="number" name="total_cost" for="total_cost" value="{{total_cost}}"></input>



    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

</section>

<script>
  let slider = document.getElementById("slider");
  let output = document.getElementById("value");
  output.innerText = slider.value;

  let slider_two = document.getElementById("slider_two");
  let output_two = document.getElementById("value_two");
  output_two.innerText = slider_two.value;

  slider.oninput = () => {
    output.innerText = slider.value;
    slider_two.min = slider.value;
    output_two.innerText = slider_two.value;
  }


  slider_two.oninput = () => {
    output_two.innerText = slider_two.value;
  }

</script>
<script src="/static/scripts/prices.js"></script>
<script src="/static/scripts/value.js"></script>

{% endblock %}