{% extends "base.html" %} {% block content %}
<h1>Control Panel</h1>

<div class="profile">{{ username }}</div>

<div class="options">
    <h1>Active Buggy</h1>
    <button>Copy Json</button>
    <button>Upload With API</button>
</div>

<div class="active"></div>

<div class="gallery"></div>

<style>
    body {
      background-color: {{ theme["secondary"] }};
    }
    .card {
      border: 1px solid {{ theme["primary"] }};
    }
</style>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>

<script src="/static/scripts/show.js" type="text/javascript"></script>

<script type="text/javascript">
    const username = "{{ username }}";
    let raw = {{ profiles | tojson }};
    document.body.onload = buildBuggies(buildProfiles());
</script>

{% endblock %}
