{% extends "base.html" %}

{% block content %}

<nav class="spacer">
  <a href="/new" class="link">Create</a>
  <a href="/buggy" class="link">Show</a>
  <a href="/poster" class="link">Poster</a>
  <a href="/json" class="link">JSON</a>
  <a href="{{ server_url }}">Race server</a>

</nav>

<h1 id="title">
  Buggy Developer
</h1>

<div class="scene"></div>


<script type="text/javascript" src="../static/scripts/three/three.js"></script>
<script type="text/javascript" src="../static/scripts/three/GLTFLoader.js"></script>
<script type="text/javascript" src="../static/scripts/scene.js"></script>

{% endblock %}