<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/poster.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="1024x1024" href="static/content/images/icon.png">
</head>

<body>

    <div class="all-pages">

        <section class="page welcome">
            <div id="welcome-text">
            </div>
            <svg id="Layer_1" class="welcome-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1187 507.5">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #494949;
                        }

                        .cls-2 {
                            fill: #ff5050;
                        }

                        .cls-3 {
                            fill: #f33;
                        }

                        .cls-4 {
                            fill: none;
                            stroke: red;
                            stroke-miterlimit: 10;
                            stroke-width: 3px;
                        }

                        .cls-5 {
                            fill: #3d3d3d;
                        }

                        .cls-6 {
                            fill: #262626;
                        }
                    </style>
                </defs>
                <path class="cls-1"
                    d="M14.5,600s84.41-120.48,176-105c71,12,159.67-.52,214-31,41-23,156.29-80.44,226-41,76,43,148.51,78,230,56,137-37,195.94-5.07,258,39,69,49,83,82,83,82Z"
                    transform="translate(-14.5 -92.5)" />
                <circle class="cls-2" cx="517" cy="97.5" r="75" />
                <path class="cls-3" d="M606.5,190a75,75,0,0,1-75,75s57-14,57-75-59-75-57-75A75,75,0,0,1,606.5,190Z"
                    transform="translate(-14.5 -92.5)" />
                <circle class="cls-4" cx="516.5" cy="98" r="96.5" />
                <path class="cls-5"
                    d="M23.5,600s76.41-110.48,168-95c71,12,172.67,5.48,227-25,41-23,147.29-68.44,217-29,76,43,127.64,62.26,211,49,41-6.52,134.43-25.55,208-1,84.43,28.18,147,101,147,101H23.5Z"
                    transform="translate(-14.5 -92.5)" />
                <path class="cls-6"
                    d="M35.5,600s67.41-96.48,159-81c71,12,182.67,6.48,237-24,41-23,123.29-67.44,193-28,76,43,140.64,64.26,224,51,41.2-6.55,111.25-29.09,202,3,82,29,150,79,150,79H35.5Z"
                    transform="translate(-14.5 -92.5)" />
            </svg>
            <svg id="Layer_1" class="sky-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1024.19 1039.91">
                <defs>
                    <style>
                        .clss-1 {
                            fill: #a87373;
                        }

                        .clss-2 {
                            fill: #724f4f;
                        }

                        .clss-3 {
                            fill: #a3a3a3;
                        }

                        .clss-4 {
                            fill: #5a969e;
                        }

                        .clss-5 {
                            fill: #9e6161;
                        }
                    </style>
                </defs>
                <circle class="clss-1" cx="1007.69" cy="216.07" r="16.5" />
                <path class="clss-2"
                    d="M1088.5,298.5A16.5,16.5,0,0,1,1072,315s12.54-3.08,12.54-16.5-13-16.5-12.54-16.5A16.5,16.5,0,0,1,1088.5,298.5Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="111.88" cy="535.15" r="16.5" />
                <path class="clss-2"
                    d="M161.3,624.7a16.49,16.49,0,0,1,7.78-22s-10,8.18-4.21,20.29,18.83,9.3,18.43,9.48A16.5,16.5,0,0,1,161.3,624.7Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="230.88" cy="381.15" r="16.5" />
                <path class="clss-2"
                    d="M282.75,474.43a16.5,16.5,0,0,1,1.6-23.28s-7.43,10.56,1.38,20.67,20.63,3.92,20.3,4.2A16.5,16.5,0,0,1,282.75,474.43Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="934.69" cy="614.07" r="16.5" />
                <path class="clss-2"
                    d="M1010.52,708.32a16.51,16.51,0,0,1-23.34-.3s11,6.83,20.57-2.54,2.76-20.81,3.07-20.5A16.51,16.51,0,0,1,1010.52,708.32Z"
                    transform="translate(-64.31 -82.43)" />
                <ellipse class="clss-3" cx="529.19" cy="495.07" rx="4" ry="4.5" />
                <ellipse class="clss-4" cx="799.19" cy="411.07" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="771.19" cy="655.07" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="653.19" cy="38.07" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="44.19" cy="341.07" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="960.19" cy="288.07" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="447.19" cy="279.07" rx="4" ry="4.5" />
                <polygon class="clss-5"
                    points="130.96 288.5 126.84 283.55 120.42 284.14 123.86 278.69 121.31 272.77 127.56 274.35 132.4 270.1 132.83 276.53 138.37 279.82 132.38 282.21 130.96 288.5" />
                <polygon class="clss-5"
                    points="361.58 639.72 357.45 634.77 351.04 635.36 354.47 629.91 351.93 623.99 358.17 625.57 363.02 621.32 363.44 627.75 368.98 631.04 363 633.44 361.58 639.72" />
                <polygon class="clss-5"
                    points="1009.58 415.72 1005.45 410.77 999.04 411.36 1002.47 405.91 999.93 399.99 1006.17 401.57 1011.02 397.32 1011.44 403.75 1016.98 407.05 1011 409.44 1009.58 415.72" />
                <polygon class="clss-5"
                    points="626.58 354.72 622.45 349.77 616.04 350.36 619.47 344.91 616.93 338.99 623.17 340.57 628.02 336.32 628.44 342.75 633.98 346.05 628 348.44 626.58 354.72" />
                <circle class="clss-1" cx="519.69" cy="884.07" r="16.5" />
                <path class="clss-2"
                    d="M600.5,966.5A16.5,16.5,0,0,1,584,983s12.54-3.08,12.54-16.5S583.56,950,584,950A16.5,16.5,0,0,1,600.5,966.5Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="71.69" cy="851.5" r="16.5" />
                <path class="clss-2"
                    d="M121.1,941.05a16.51,16.51,0,0,1,7.78-22s-10,8.18-4.2,20.29,18.82,9.29,18.42,9.48A16.5,16.5,0,0,1,121.1,941.05Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="692.69" cy="16.5" r="16.5" />
                <path class="clss-2"
                    d="M744.55,109.77a16.51,16.51,0,0,1,1.6-23.28s-7.43,10.57,1.39,20.68,20.62,3.91,20.29,4.2A16.5,16.5,0,0,1,744.55,109.77Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="894.5" cy="930.41" r="16.5" />
                <path class="clss-2"
                    d="M970.32,1024.66a16.5,16.5,0,0,1-23.33-.29s11,6.83,20.57-2.54,2.75-20.81,3.06-20.5A16.49,16.49,0,0,1,970.32,1024.66Z"
                    transform="translate(-64.31 -82.43)" />
                <ellipse class="clss-3" cx="489" cy="811.41" rx="4" ry="4.5" />
                <ellipse class="clss-4" cx="759" cy="727.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="731" cy="971.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="111" cy="1035.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="4" cy="657.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="920" cy="604.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="407" cy="595.41" rx="4" ry="4.5" />
                <polygon class="clss-5"
                    points="90.77 604.85 86.64 599.9 80.23 600.49 83.66 595.04 81.12 589.12 87.36 590.7 92.21 586.45 92.64 592.88 98.17 596.17 92.19 598.56 90.77 604.85" />
                <polygon class="clss-5"
                    points="321.38 956.07 317.26 951.12 310.84 951.71 314.27 946.26 311.73 940.34 317.98 941.92 322.82 937.67 323.25 944.1 328.79 947.39 322.8 949.79 321.38 956.07" />
                <polygon class="clss-5"
                    points="969.38 732.07 965.26 727.12 958.84 727.71 962.27 722.26 959.73 716.34 965.98 717.92 970.82 713.67 971.25 720.1 976.79 723.39 970.8 725.79 969.38 732.07" />
                <polygon class="clss-5"
                    points="586.38 671.07 582.26 666.12 575.84 666.71 579.27 661.26 576.73 655.34 582.98 656.92 587.82 652.67 588.25 659.1 593.79 662.39 587.8 664.79 586.38 671.07" />
                <circle class="clss-1" cx="839.5" cy="241.41" r="16.5" />
                <path class="clss-2"
                    d="M920.31,323.85a16.5,16.5,0,0,1-16.5,16.5s12.54-3.08,12.54-16.5-13-16.5-12.54-16.5A16.5,16.5,0,0,1,920.31,323.85Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="610.77" cy="237.1" r="16.5" />
                <path class="clss-2"
                    d="M660.19,326.64a16.5,16.5,0,0,1,7.77-22s-10,8.19-4.2,20.3,18.82,9.29,18.43,9.48A16.49,16.49,0,0,1,660.19,326.64Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="195.69" cy="123.5" r="16.5" />
                <path class="clss-2"
                    d="M247.55,216.77a16.51,16.51,0,0,1,1.6-23.28s-7.43,10.57,1.39,20.68,20.62,3.91,20.29,4.2A16.5,16.5,0,0,1,247.55,216.77Z"
                    transform="translate(-64.31 -82.43)" />
                <circle class="clss-1" cx="899.5" cy="356.41" r="16.5" />
                <path class="clss-2"
                    d="M975.32,450.66a16.5,16.5,0,0,1-23.33-.29s11,6.83,20.57-2.54,2.75-20.81,3.06-20.5A16.49,16.49,0,0,1,975.32,450.66Z"
                    transform="translate(-64.31 -82.43)" />
                <ellipse class="clss-3" cx="494" cy="237.41" rx="4" ry="4.5" />
                <ellipse class="clss-4" cx="764" cy="153.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="736" cy="397.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="116" cy="461.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="9" cy="83.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="925" cy="30.41" rx="4" ry="4.5" />
                <ellipse class="clss-3" cx="412" cy="21.41" rx="4" ry="4.5" />
                <polygon class="clss-5"
                    points="95.77 30.85 91.64 25.9 85.23 26.49 88.66 21.04 86.12 15.12 92.36 16.7 97.21 12.45 97.64 18.88 103.17 22.17 97.19 24.56 95.77 30.85" />
                <polygon class="clss-5"
                    points="326.38 382.07 322.26 377.12 315.84 377.71 319.27 372.26 316.73 366.34 322.98 367.92 327.82 363.67 328.25 370.1 333.79 373.39 327.8 375.79 326.38 382.07" />
                <polygon class="clss-5"
                    points="974.38 158.07 970.26 153.12 963.84 153.71 967.27 148.26 964.73 142.34 970.98 143.92 975.82 139.67 976.25 146.1 981.79 149.39 975.8 151.79 974.38 158.07" />
                <polygon class="clss-5"
                    points="591.38 97.07 587.26 92.12 580.84 92.71 584.27 87.26 581.73 81.34 587.98 82.92 592.82 78.67 593.25 85.1 598.79 88.39 592.8 90.79 591.38 97.07" />
            </svg>
            <svg id="Layer_1" class="sky2-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1079 1067.11">
                <defs>
                    <style>
                        .clsss-1 {
                            fill: #a87373;
                        }

                        .clsss-2 {
                            fill: #724f4f;
                        }

                        .clsss-3 {
                            fill: #a3a3a3;
                        }

                        .clsss-4 {
                            fill: #5a969e;
                        }

                        .clsss-5 {
                            fill: #aaa;
                        }

                        .clsss-6 {
                            fill: #666;
                        }

                        .clsss-7 {
                            fill: #9e6161;
                        }

                        .clsss-8 {
                            fill: #999;
                        }

                        .clsss-9 {
                            fill: gray;
                        }

                        .clsss-10 {
                            fill: #1a1a1a;
                        }

                        .clsss-11 {
                            fill: #a561aa;
                        }

                        .clsss-12 {
                            fill: #662d91;
                        }

                        .clsss-13 {
                            fill: #9e9a9a;
                        }
                    </style>
                </defs>
                <circle class="clsss-1" cx="893.56" cy="280.19" r="9.43" />
                <path class="clsss-2"
                    d="M967.3,355.43a9.43,9.43,0,0,1-9.43,9.43s7.16-1.76,7.16-9.43-7.42-9.43-7.16-9.43A9.43,9.43,0,0,1,967.3,355.43Z"
                    transform="translate(-64.31 -75.24)" />
                <path class="clsss-2"
                    d="M656.75,210.43a16.5,16.5,0,0,1,1.6-23.28s-7.43,10.56,1.38,20.67,20.63,3.92,20.3,4.2A16.5,16.5,0,0,1,656.75,210.43Z"
                    transform="translate(-64.31 -75.24)" />
                <path class="clsss-2"
                    d="M1010.52,708.32a16.51,16.51,0,0,1-23.34-.3s11,6.83,20.57-2.54,2.76-20.81,3.07-20.5A16.51,16.51,0,0,1,1010.52,708.32Z"
                    transform="translate(-64.31 -75.24)" />
                <ellipse class="clsss-3" cx="903.19" cy="238.26" rx="4" ry="4.5" />
                <ellipse class="clsss-4" cx="806.19" cy="477.26" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="813.19" cy="682.26" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="618.19" cy="84.26" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="418.19" cy="84.26" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="925.19" cy="334.26" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="786.19" cy="61.26" rx="4" ry="4.5" />
                <polygon class="clsss-5"
                    points="528.59 62.3 524.61 57.53 518.42 58.1 521.74 52.84 519.28 47.13 525.31 48.65 529.98 44.55 530.39 50.76 535.74 53.94 529.96 56.24 528.59 62.3" />
                <polygon class="clsss-6"
                    points="419.05 685.1 415.07 680.33 408.88 680.89 412.19 675.63 409.74 669.92 415.76 671.45 420.44 667.35 420.85 673.55 426.19 676.73 420.42 679.04 419.05 685.1" />
                <polygon class="clsss-7"
                    points="967.12 488.03 963.14 483.25 956.95 483.82 960.26 478.56 957.81 472.85 963.84 474.38 968.51 470.28 968.92 476.48 974.26 479.66 968.49 481.96 967.12 488.03" />
                <polygon class="clsss-8"
                    points="971.67 165.18 967.69 160.41 961.5 160.98 964.82 155.72 962.36 150.01 968.39 151.53 973.06 147.43 973.47 153.64 978.81 156.81 973.04 159.12 971.67 165.18" />
                <path class="clsss-2"
                    d="M642.5,986.5A16.5,16.5,0,0,1,626,1003s12.54-3.08,12.54-16.5S625.56,970,626,970A16.5,16.5,0,0,1,642.5,986.5Z"
                    transform="translate(-64.31 -75.24)" />
                <circle class="clsss-1" cx="110.3" cy="888.29" r="9.31" />
                <path class="clsss-2"
                    d="M166.2,967.54a9.31,9.31,0,0,1,4.39-12.41s-5.63,4.61-2.37,11.44,10.62,5.25,10.39,5.35A9.31,9.31,0,0,1,166.2,967.54Z"
                    transform="translate(-64.31 -75.24)" />
                <circle class="clsss-9" cx="656.96" cy="73.24" r="9.03" />
                <path class="clsss-2"
                    d="M714.46,154.41a9,9,0,0,1,.88-12.74s-4.07,5.78.76,11.31,11.28,2.14,11.1,2.3A9,9,0,0,1,714.46,154.41Z"
                    transform="translate(-64.31 -75.24)" />
                <circle class="clsss-1" cx="936.33" cy="970.69" r="7.26" />
                <path class="clsss-2"
                    d="M1005.7,1051.12a7.26,7.26,0,0,1-10.26-.13,7.48,7.48,0,0,0,9-1.12c4.22-4.12,1.21-9.15,1.34-9A7.25,7.25,0,0,1,1005.7,1051.12Z"
                    transform="translate(-64.31 -75.24)" />
                <ellipse class="clsss-3" cx="531" cy="838.61" rx="4" ry="4.5" />
                <ellipse class="clsss-4" cx="801" cy="754.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="773" cy="998.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="153" cy="1062.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="4" cy="664.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="962" cy="631.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="781" cy="338.61" rx="4" ry="4.5" />
                <polygon class="clsss-7"
                    points="157.82 651.46 153.84 646.68 147.65 647.25 150.97 642 148.51 636.28 154.54 637.81 159.21 633.71 159.62 639.91 164.96 643.09 159.19 645.4 157.82 651.46" />
                <polygon class="clsss-7"
                    points="380.27 990.26 376.3 985.48 370.11 986.05 373.42 980.79 370.96 975.08 376.99 976.61 381.66 972.51 382.07 978.71 387.42 981.89 381.64 984.19 380.27 990.26" />
                <polygon class="clsss-7"
                    points="963.35 754.18 959.37 749.41 953.18 749.98 956.49 744.72 954.04 739.01 960.06 740.53 964.74 736.43 965.15 742.63 970.49 745.81 964.72 748.12 963.35 754.18" />
                <polygon class="clsss-9"
                    points="635.9 715.34 631.92 710.56 625.73 711.13 629.04 705.87 626.59 700.16 632.61 701.69 637.29 697.59 637.7 703.79 643.04 706.97 637.27 709.28 635.9 715.34" />
                <circle cx="797.43" cy="294.68" r="9.43" />
                <path class="clsss-10"
                    d="M871.17,369.92a9.43,9.43,0,0,1-9.43,9.43s7.16-1.76,7.16-9.43-7.42-9.43-7.16-9.43A9.43,9.43,0,0,1,871.17,369.92Z"
                    transform="translate(-64.31 -75.24)" />
                <circle class="clsss-11" cx="904.29" cy="9.13" r="9.13" />
                <path class="clsss-12"
                    d="M960.36,88.3a9.13,9.13,0,0,1,4.31-12.17s-5.53,4.53-2.33,11.22,10.41,5.15,10.19,5.25A9.13,9.13,0,0,1,960.36,88.3Z"
                    transform="translate(-64.31 -75.24)" />
                <circle class="clsss-1" cx="194.87" cy="142.63" r="8.04" />
                <path class="clsss-2"
                    d="M253.11,223.15a8,8,0,0,1,.78-11.35,8.29,8.29,0,0,0,.67,10.08c4.3,4.93,10.06,1.91,9.9,2.05A8,8,0,0,1,253.11,223.15Z"
                    transform="translate(-64.31 -75.24)" />
                <path class="clsss-2"
                    d="M982.32,509.66a16.5,16.5,0,0,1-23.33-.29s11,6.83,20.57-2.54,2.75-20.81,3.06-20.5A16.49,16.49,0,0,1,982.32,509.66Z"
                    transform="translate(-64.31 -75.24)" />
                <ellipse class="clsss-3" cx="459" cy="283.61" rx="4" ry="4.5" />
                <ellipse class="clsss-4" cx="729" cy="199.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="1075" cy="179.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="490" cy="204.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="9" cy="90.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="890" cy="76.61" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="377" cy="67.61" rx="4" ry="4.5" />
                <polygon class="clsss-7"
                    points="120.64 77.77 116.67 72.99 110.47 73.56 113.79 68.3 111.33 62.59 117.36 64.12 122.03 60.02 122.44 66.22 127.78 69.4 122.01 71.71 120.64 77.77" />
                <polygon class="clsss-13"
                    points="682.1 191.56 678.12 186.79 671.93 187.36 675.24 182.1 672.79 176.39 678.81 177.91 683.49 173.81 683.9 180.02 689.24 183.19 683.47 185.5 682.1 191.56" />
                <polygon class="clsss-9"
                    points="933.17 239.49 929.19 234.71 923 235.28 926.32 230.02 923.86 224.31 929.89 225.84 934.56 221.74 934.97 227.94 940.31 231.12 934.54 233.43 933.17 239.49" />
                <polygon class="clsss-7"
                    points="563.72 180.65 559.74 175.87 553.55 176.44 556.87 171.18 554.41 165.47 560.44 167 565.11 162.9 565.52 169.1 570.86 172.28 565.09 174.59 563.72 180.65" />
                <path class="clsss-2"
                    d="M242.82,464.45a16.5,16.5,0,0,1,1.6-23.28s-7.43,10.56,1.38,20.68,20.63,3.91,20.3,4.2A16.5,16.5,0,0,1,242.82,464.45Z"
                    transform="translate(-64.31 -75.24)" />
                <ellipse class="clsss-3" cx="489.26" cy="492.29" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="4.26" cy="338.29" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="372.26" cy="315.29" rx="4" ry="4.5" />
                <polygon class="clsss-5"
                    points="114.66 316.33 110.69 311.55 104.5 312.12 107.81 306.86 105.35 301.15 111.38 302.68 116.05 298.58 116.46 304.78 121.81 307.96 116.03 310.26 114.66 316.33" />
                <polygon class="clsss-8"
                    points="557.74 419.21 553.76 414.43 547.57 415 550.88 409.74 548.43 404.03 554.46 405.56 559.13 401.46 559.54 407.66 564.88 410.84 559.11 413.14 557.74 419.21" />
                <ellipse class="clsss-3" cx="367.07" cy="592.64" rx="4" ry="4.5" />
                <circle class="clsss-11" cx="490.36" cy="263.15" r="9.13" />
                <path class="clsss-12"
                    d="M546.43,342.32a9.13,9.13,0,0,1,4.31-12.17s-5.53,4.53-2.33,11.23,10.41,5.14,10.19,5.24A9.12,9.12,0,0,1,546.43,342.32Z"
                    transform="translate(-64.31 -75.24)" />
                <ellipse class="clsss-3" cx="661.07" cy="433.64" rx="4" ry="4.5" />
                <ellipse class="clsss-3" cx="76.07" cy="458.64" rx="4" ry="4.5" />
                <polygon class="clsss-13"
                    points="268.17 445.59 264.19 440.81 258 441.38 261.31 436.12 258.86 430.41 264.88 431.94 269.56 427.84 269.97 434.04 275.31 437.22 269.54 439.52 268.17 445.59" />
            </svg>
        </section>

        <section class="page welcome">
            <div id="feature-text">
                <h1>Features</h1>
                <div class="feature">
                    <p>Guest accounts, so most pages and features are public</p>
                </div>
                <div class="feature">
                    <p>Password protected accounts so buggies can be saved securely</p>
                    <p>All passwords can be changed</p>
                </div>
                <div class="feature">
                    <p>Custom themes which are site wide and can be as unique as the user desires</p>
                </div>
                <div class="feature">
                    <p>Multiple buggies can be saved, updated or deleted</p>
                </div>
                <div class="feature">
                    <p>Auto build can create buggies with a single click</p>
                </div>
            </div>

            <svg id="layer_4" class="background-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 337.7 337.7">
                <path class="cls-cog-1"
                    d="M418.85,252.81v-5.62l-52-15.93q-.75-4.72-1.87-9.3l41.79-34.85-2.18-5.17-54.15,5.5q-2.16-3.48-4.57-6.78l25.55-48.07-4-4-48.07,25.55c-2.55-1.86-5.19-3.62-7.89-5.26l4.9-54.2-5.19-2.12-34.39,42.16q-4-.92-8-1.56l-15.93-52h-5.62l-15.93,52q-4.72.75-9.3,1.87L187.11,93.27l-5.17,2.18,5.5,54.15q-3.48,2.16-6.78,4.57l-48.07-25.55-4,4,25.55,48.07c-1.86,2.55-3.62,5.19-5.26,7.89l-54.2-4.9-2.12,5.19,42.16,34.39q-.92,4-1.56,8l-52,15.93v5.62l52,15.93q.75,4.72,1.87,9.3L93.27,312.89l2.18,5.17,54.15-5.5q2.16,3.48,4.57,6.78l-25.55,48.07,4,4,48.07-25.55c2.55,1.86,5.19,3.62,7.89,5.26l-4.9,54.2,5.19,2.12,34.39-42.16q4,.92,8,1.56l15.93,52h5.62l15.93-52q4.72-.75,9.3-1.87l34.85,41.79,5.17-2.18-5.5-54.15q3.48-2.16,6.78-4.57l48.07,25.55,4-4-25.55-48.07c1.86-2.55,3.62-5.19,5.26-7.89l54.2,4.9,2.12-5.19-42.16-34.39q.92-4,1.56-8ZM250,169.64A80.4,80.4,0,0,1,327,227H173A80.4,80.4,0,0,1,250,169.64Zm0,160.72A80.4,80.4,0,0,1,173,273H327A80.4,80.4,0,0,1,250,330.36Z"
                    transform="translate(-81.15 -81.15)" />
            </svg>

            <svg id="layer_5" class="background-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 397.86 397.86">
                <path class="cls-splash-1"
                    d="M236.55,51.07v50.38a149.17,149.17,0,0,0-135.1,135.1H51.07C57.69,137.15,137.15,57.69,236.55,51.07Z"
                    transform="translate(-51.07 -51.07)" />
                <path class="cls-splash-1"
                    d="M236.55,398.55v50.38c-99.4-6.62-178.86-86.08-185.48-185.48h50.38A149.17,149.17,0,0,0,236.55,398.55Z"
                    transform="translate(-51.07 -51.07)" />
                <path class="cls-splash-1"
                    d="M448.93,263.45c-6.62,99.4-86.08,178.86-185.48,185.48V398.55a149.17,149.17,0,0,0,135.1-135.1Z"
                    transform="translate(-51.07 -51.07)" />
                <path class="cls-splash-1"
                    d="M448.93,236.55H398.55a149.17,149.17,0,0,0-135.1-135.1V51.07C362.85,57.69,442.31,137.15,448.93,236.55Z"
                    transform="translate(-51.07 -51.07)" />
            </svg>

            <svg id="layer_6" class="background-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 397.86 397.86">
                <path class="cls-splash-2"
                    d="M236.55,51.07V64.93A185.57,185.57,0,0,0,64.93,236.55H51.07C57.69,137.15,137.15,57.69,236.55,51.07Z"
                    transform="translate(-51.07 -51.07)" />
                <path class="cls-splash-2"
                    d="M236.55,435.07v13.86c-99.4-6.62-178.86-86.08-185.48-185.48H64.93A185.57,185.57,0,0,0,236.55,435.07Z"
                    transform="translate(-51.07 -51.07)" />
                <path class="cls-splash-2"
                    d="M448.93,263.45c-6.62,99.4-86.08,178.86-185.48,185.48V435.07A185.57,185.57,0,0,0,435.07,263.45Z"
                    transform="translate(-51.07 -51.07)" />
                <path class="cls-splash-2"
                    d="M448.93,236.55H435.07A185.57,185.57,0,0,0,263.45,64.93V51.07C362.85,57.69,442.31,137.15,448.93,236.55Z"
                    transform="translate(-51.07 -51.07)" />
            </svg>

        </section>

        <section class="page task-zero">
            <div class="content">
                <h1>Task 0</h1>

                <div class="all-tasks">

                    <div class="task">
                        <h2>0-GET</h2>
                        <p>
                            I forked the repo on GitHub and then used <code>git clone</code> to make a local copy.
                        </p>
                        <br>
                        <p>
                            Once the repo was on my own machine I was able to commit changes to version control
                            as I went along, and I pushed back up to my GitHub repo at the end of each day.
                        </p>
                    </div>

                    <div class="task">
                        <h2>0-RUN</h2>
                        <p>
                            After installing the flask with <code>pip install flask</code> i ran the project using
                            <code>python ./app.py</code>
                        </p>
                        <br>
                        <p>
                            Then the Webserver ran on <code>localhost:5000</code>
                        </p>
                    </div>

                    <div class="task">
                        <h2>0-CHANGE</h2>
                        <p>
                            My first changes were just removing any unnecessary empty lines and putting exceptions on
                            the except block.</p>
                        <p><br> After that I added all files to git with <code> git add * </code></p>
                        <p><br> I made a commmit <code> git commit -m "initial commit" </code> </p>
                        <p><br> And I pushed the changes to main <code> git push origin main </code></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page">
            <div class="content">
                <h1>Task 1</h1>

                <div class="all-tasks">

                    <div class="task">
                        <h2>1-ADD</h2>
                        <p>
                            Added all listed parameters to the database and the form
                        </p>
                        <p>
                            Had to learn a bit of SQL
                        </p>
                    </div>

                    <div class="task">
                        <h2>1-VALID</h2>
                        <p>
                            Entered validation directly onto the HTML with min / max for integers and limiting text
                            inputs
                            to
                            lists.
                            Also added server-side validation
                        </p>
                    </div>

                    <div class="task">
                        <h2>1-STYLE</h2>
                        <p>
                            For this task I removed most of the original CSS and made new styles for my classes.
                            Most of these stlyes would be redone at a later task as new pages and features are added.
                        </p>
                        <br>
                        <p>
                            I created <code>global.css</code> which contains all the root variables which will be
                            used for the majority of the project as well as replacing the default scrollbar
                        </p>
                        <br>
                        <p>
                            I tend to use flexbox and the grid layout for most of my pages, I also like using hsla()
                            instead
                            of rgba() as it keeps the color schemes a little more consistent
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page">
            <div class="content">
                <h1>Task 2</h1>

                <div class="all-tasks">

                    <div class="task">
                        <h2>2-EDIT</h2>
                        <p>
                            I initially loaded the current values in the placeholder attribute so that the previous
                            value could be seen but didn't have to be removed. However, i decided to use the value
                            attribute instead as it made getting the data for the form alot easier.
                        </p>
                    </div>

                    <div class="task">
                        <h2>2-FORM</h2>
                        <p>
                            Added labels for every input in the form to make it easier to understand
                        </p>
                    </div>

                    <div class="task">
                        <h2>2-COST</h2>
                        <p>
                            I created a javascript object with all the prices for each buggy attribute. I then calculate
                            the cost using a for loop through every input.name and input.value with some edge cases hard
                            coded.
                        </p>
                    </div>

                    <div class="task">
                        <h2>2-RULES</h2>
                        <p>
                            Created a new python file called validation.py which takes a dictionary of all the fields
                            and checks whether they are valid.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page">
            <div class="content">
                <h1>Task 3</h1>

                <div class="all-tasks">

                    <div class="task">
                        <h2>3-ENV</h2>
                        <p>
                            Installed python-dotenv through pip and then created a .env file
                        </p>
                        <p>I set up these settings</p>
                        <li>FLASK_APP=app</li>
                        <li>FLASK_ENV=development</li>
                        <p>Changing the FLASK_ENV changes the app mode and when ready should be changed to production
                        </p>
                    </div>
                    <div class="task">
                        <h2>3-AUTOFILL</h2>
                        <p>
                            Similar to 2-COST just instead of reading the input.value I write to the input.value a
                            random
                            option from that attribute.
                        </p>
                        <p>
                            Edge case for the armour and the wheels as they directly relate to each other.
                        </p>
                    </div>
                    <div class="task">
                        <h2>3-MULTI</h2>
                        <p>
                            On creation I give all buggies a private ID. Whenever I need to update or delete a buggy I
                            query
                            the database for that ID.
                        </p>
                        <p>
                            This method is unnecessary as the primary key ID could be used aswell however using a larger
                            ID
                            means that even if you know your own buggies private ID you don't know if the ID which +- 1
                            is also
                            a buggy ID.
                        </p>
                    </div>

                    <div class="task">
                        <h2>3-DEL</h2>
                        <p>
                            On creation I give all buggies a private ID. Whenever I need to update or delete a buggy I
                            query
                            the database for that ID.
                        </p>
                        <p>
                            This method is unnecessary as the primary key ID could be used aswell however using a larger
                            ID
                            means that even if you know your own buggies private ID you don't know if the ID which +- 1
                            is also
                            a buggy ID.
                        </p>
                    </div>

                    <div class="task">
                        <h2>3-FLAG</h2>
                        <p>
                            On creation I give all buggies a private ID. Whenever I need to update or delete a buggy I
                            query
                            the database for that ID.
                        </p>
                        <p>
                            This method is unnecessary as the primary key ID could be used aswell however using a larger
                            ID
                            means that even if you know your own buggies private ID you don't know if the ID which +- 1
                            is also
                            a buggy ID.
                        </p>
                    </div>

                    <div class="task">
                        <h2>3-TESTS</h2>
                        <p>
                            On creation I give all buggies a private ID. Whenever I need to update or delete a buggy I
                            query
                            the database for that ID.
                        </p>
                        <p>
                            This method is unnecessary as the primary key ID could be used aswell however using a larger
                            ID
                            means that even if you know your own buggies private ID you don't know if the ID which +- 1
                            is also
                            a buggy ID.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page">
            <div class="content">
                <h1>Task 4</h1>

                <div class="all-tasks">

                    <div class="task">
                        <h2>1-ADD</h2>
                        <p>
                            Added all listed parameters to the database and the form
                        </p>
                        <p>
                            Had to learn a bit of SQL
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page">
            <div class="content">
                <h1>Task 5</h1>

                <div class="all-tasks">

                    <div class="task">
                        <h2>1-ADD</h2>
                        <p>
                            Added all listed parameters to the database and the form
                        </p>
                        <p>
                            Had to learn a bit of SQL
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page">
            <div class="content">
                <h1>Task 6</h1>

                <div class="all-tasks">

                    <div class="task">
                        <h2>1-ADD</h2>
                        <p>
                            Added all listed parameters to the database and the form
                        </p>
                        <p>
                            Had to learn a bit of SQL
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <nav>
        <ul>
            <li class="chapter">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 24 24" width="1.5em" fill="#FFFFFF">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
                </svg>
            </li>
            <li class="chapter">
                W
            </li>
            <li class="chapter">
                F
            </li>
            <li class="chapter">
                0
            </li>
            <li class="chapter">
                1
            </li>
            <li class="chapter">
                2
            </li>
            <li class="chapter">
                3
            </li>
            <li class="chapter">
                4
            </li>
            <li class="chapter">
                5
            </li>
            <li class="chapter">
                <div onclick=scroll()>6</div>
            </li>
            <li class="chapter">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 24 24" width="1.5em" fill="#FFFFFF">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z" />
                </svg>
            </li>
        </ul>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
        integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/scripts/poster.js" type="text/javascript"></script>

    <script src="../static/scripts/timeline.js" type="text/javascript"></script>

    <script type="text/javascript">
        document.body.onload = build()
    </script>
</body>

</html>