/* BUGGY FORM */

#data-sheet {
  position: fixed;
  margin-left: 60vw;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: 1px solid white;
  z-index: 5;
}
.background-blur {
  position: fixed;
  margin-left: 0;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--blue);
  filter: blur(5px);
  box-sizing: border-box;
  z-index: 6;

}

input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#cost,
#weight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
}

#cost-value,
#weight-value {
  margin-left: 1rem;
}

#make-a-buggy {
  position: relative;
  display: block;
}

#traction {
  margin-top: 2rem;
  background-color: var(--black-opacity);
  padding: 1em;
  border-radius: 20px;
}

#traction > * {
  display: block;
  margin: 0.5em;
}

#flag {
  margin-top: 2rem;
  background-color: var(--black-opacity);
  padding: 1em;
  border-radius: 20px;
}

#flag > * {
  display: block;
  margin: 0.5em;
}

datalist {
  display: none !important;
}

#drive {
  margin-top: 2rem;
  padding: 1em;
  background-color: var(--black-opacity);
  border-radius: 20px;
}

#drive > * {
  display: block;
  margin: 0.5em;
}

#offensive {
  margin-top: 2rem;
  padding: 1em;
  background-color: var(--black-opacity);
  border-radius: 20px;
}

#offensive > * {
  display: block;
  margin: 0.5em;
}

#misc {
  margin-top: 2rem;
  padding: 1em;
  background-color: var(--black-opacity);
  border-radius: 20px;
}

#misc > label {
  margin: 0.5em;
}
#misc > input {
  display: inline;
  margin: 0.5em;
}

div br {
  display: none;
}

#algorithm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#total_cost {
  display: none;
}
