* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: overlay;
}

#head {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 2vw;
}

#viewport {
  height: 50vh;
  width: 100vw;
  background-color: var(--dark-red);
}

nav {
  background-color: var(--black);
  font-size: 0.8em;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.2em;
  padding-right: 0.2em;
  list-style: none;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

nav ul li:hover {
  border-radius: 5px;
  background-color: var(--dark-blue);
}

form {
  height: 50vh;
  background-color: hsl(235, 56%, 17%);
}

.hidden {
  display: none !important;
  /* margin-left: 100%; */
}

.container {
  position: absolute;
  width: 100%;
  /* height: 100%; */

  transition: margin 0.2s ease;
}

.bubble {
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#buggies {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2vw;
}

#buggies li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
  aspect-ratio: 1;
  border: 1px solid var(--white);
  background-color: var(--muted-blue);
}