/* BUGGY FORM */

#data-sheet {
  position: fixed;
  margin-left: 60vw;
  width: 150px;
  height: 150px;
  background-color: rgba(51, 80, 141, 0.548);
  border-radius: 20px;
  border: 1px solid white;
  z-index: 5;
}

#cost, #weight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
}

#cost-value, #weight-value {
  margin-left: 1rem;
}

#make-a-buggy {
    position: relative;
    display: block;
  }
  
  #traction{
    margin-top: 2rem;
    background-color: var(--black-opacity);
    padding: 1em;
    border-radius: 20px;
  }
  
  #traction > *{
    display: block;
    margin: 0.5em;
  }
  
  #flag{
    margin-top: 2rem;
    background-color: var(--black-opacity);
    padding: 1em;
    border-radius: 20px;
  }
  
  #flag > *{
    display: block;
    margin: 0.5em;
  }
  
  datalist {
    display: none !important;
  }
  
  #drive{
    margin-top: 2rem;
    padding: 1em;
    background-color: var(--black-opacity);
    border-radius: 20px;
  }
  
  #drive > *{
    display: block;
    margin: 0.5em;
  }
  
  #offensive {
    margin-top: 2rem;
    padding: 1em;
    background-color: var(--black-opacity);
    border-radius: 20px;
  }
  
  #offensive > *{
    display: block;
    margin: 0.5em;
  }
  